@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nico-Moji";
  src: url("/fonts/NicoMoji-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-weight: normal;
}

.nico {
  font-family: "Nico-Moji";
}

.montserrat {
  font-family: "Montserrat";
}